[submodule "wwwroot/eglide.org/www"]
	path = wwwroot/eglide.org/www
	url = https://devcentral.nasqueron.org/source/eglide-www.git
[submodule "wwwroot/dereckson.be/assets"]
	path = wwwroot/dereckson.be/assets
	url = https://github.com/dereckson/assets.dereckson.be
[submodule "software/salt-wrapper"]
	path = software/salt-wrapper
	url = https://devcentral.nasqueron.org/source/salt-wrapper.git
[submodule "wwwroot/nasqueron.org/mastodon"]
	path = wwwroot/nasqueron.org/mastodon
	url = https://devcentral.nasqueron.org/source/mastodon-public.git
[submodule "wwwroot/nasqueron.org/www"]
	path = wwwroot/nasqueron.org/www
	url = https://devcentral.nasqueron.org/diffusion/WWW/www-nasqueron-org.git
[submodule "wwwroot/nasqueron.org/docker"]
	path = wwwroot/nasqueron.org/docker
	url = https://devcentral.nasqueron.org/diffusion/DOCKERWWW/docker-images-website.git
[submodule "wwwroot/nasqueron.org/trustspace"]
	path = wwwroot/nasqueron.org/trustspace
	url = https://devcentral.nasqueron.org/source/trustspace-www.git
[submodule "software/ftp"]
	path = software/ftp
	url = https://devcentral.nasqueron.org/diffusion/FTP/nasqueron-ftp.git
[submodule "software/zemke-rhyne"]
	path = software/zemke-rhyne
	url = https://devcentral.nasqueron.org/source/zemke-rhyne.git
[submodule "wwwroot/nasqueron.org/assets"]
	path = wwwroot/nasqueron.org/assets
	url = https://devcentral.nasqueron.org/source/assets.git
[submodule "wwwroot/nasqueron.org/api"]
	path = wwwroot/nasqueron.org/api
	url = https://devcentral.nasqueron.org/source/api.git
[submodule "software/api/serverslog"]
	path = software/api/serverslog
	url = https://devcentral.nasqueron.org/source/api-serverslog.git
[submodule "wwwroot/nasqueron.org/infra"]
	path = wwwroot/nasqueron.org/infra
	url = https://devcentral.nasqueron.org/source/infra-www.git
[submodule "software/notifications-cli-client"]
	path = software/notifications-cli-client
	url = https://devcentral.nasqueron.org/source/notifications-cli-client.git
[submodule "software/HexGL"]
	path = software/HexGL
	url = https://github.com/BKcore/HexGL.git
[submodule "software/corporate-name-generator"]
	path = software/corporate-name-generator
	url = https://devcentral.nasqueron.org/source/corporate-name-generator.git
[submodule "wwwroot/nasqueron.org/labs"]
	path = wwwroot/nasqueron.org/labs
	url = https://github.com/nasqueron/labs.git
