[submodule "wwwroot/eglide.org/www"]
	path = wwwroot/eglide.org/www
	url = https://devcentral.nasqueron.org/source/eglide-www.git
[submodule "wwwroot/dereckson.be/assets"]
	path = wwwroot/dereckson.be/assets
	url = https://github.com/dereckson/assets.dereckson.be
[submodule "software/salt-wrapper"]
	path = software/salt-wrapper
	url = https://devcentral.nasqueron.org/source/salt-wrapper.git
